*
!README.md
!requirements_inference.txt
!common/classes.py
!common/type_aliases.py
!config/gunicorn.py
!config/inference.yaml
!datasets/transforms.py
!models/adapter.py
!models/processor.py
!models/faster_rcnn.py
!utils/bbox_post_processing.py
!utils/images.py
!utils/misc.py
!Dockerfile
!.dockerignore
!inference.py
!run_server.py
!requirements_inference.txt
!weights/*